:root {
  background-color: #f4f5ed;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}


#heading-container {
  position: fixed;
  top: 0;
  right: 60vw;
  width: fit-contents;
}

#heading-img {
  position: absolute;
  top: 0;
/*   float: right; */
  width: 60vw;
}

.containter {
  z-index: 100;
}

#spiral-container {
  z-index: 101;
  fill: none;
  background-color: transparent;
}

#spiral-container text{
  fill: black;

}

canvas {
  z-index: 10;
}

