@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Space+Mono:ital@0;1&display=swap');

:root {
  background-color: #f4f5ed;
  justify-content: center;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
} */


#heading-container {
  position: fixed;
  top: 0;
  right: 60vw;
  width: fit-content;
  justify-content: center;
  overflow: visible;
}

#heading-img {
  position: absolute;
  top: 0;
  margin: 1rem;
  width: 55vw;
}

.containter {
  width: 100vw;
  height: 100vh;
  z-index: 100;
  overflow: hidden;
}

#spiral-container {
  top: 0;
  z-index: 101;
  fill: none;
  background-color: transparent;
}

#spiral-container text{
  fill: black;

}

.floating {
  visibility: hidden;
  z-index: 150;
}

/* #projects-container {
  display: flex !important;
  flex-direction: row;
  flex-flow: row-wrap;
  flex-grow:1;
  top: window.innerHeight;
  width: 100vw;
  z-index: 1;
  justify-content: center;
  z-index: 150;
}

.project-card {
  display: flex;
  flex-basis: 100%;
  position: relative;
  margin: 2rem;
  background-color: #8e85a0;
  border: none;
  border-radius: 50px;
  opacity: 80%;
  width: 80vw;
  min-height: fit-content;
  padding: 3rem;
  font-family: 'Roboto Mono', monospace;
  visibility: none;
  opacity: 0%;
  margin-top: 50px;
  -webkit-transition: opacity 0.5s, margin 0.5s;
  -o-transition: opacity 0.5s, margin 0.5s;
  transition: opacity 0.5s, margin 0.5s;
} */

/* .project-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project-info {
  margin: 1.5 rem;
  float: left;
}

.project-media {
  margin-right: 1.5 rem;
  float: right;
}

.project-title {
  font-size: 36px;
}

.artist-name {
  font-size: 28px;
} */

#canvas {
  position: fixed;
  top: 5rem;
  left: 0;
  z-index: 10;
  justify-self: center;
}

/* iframe {
  float: right;
}

.left {
  float: left;
}

.right {
  float: right;
}


.show {
  visibility: visible;
  opacity: 100%;
  margin-top: 0;
  transform: translate(0, 20px); transition: all 3s;
  flex-basis: 100%;
  z-index: 200;
} */

#play-button {
  width: 30vw;
  height: 4rem;
  z-index: 110;
}

@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
